# .gitignore file
#
# Set up for Microchip/MPLAB X development

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe

# Netbeans specific
~*.*
nbproject/build/
nbproject/dist/
nbproject/private/
nbproject/disassembly/
build/
dist/
private/
disassembly/
*.zip
*.mk
*.bash
*.dump
Makefile-genesis.properties

# MPLAB X Trace specific
*.log
*.inx

# KDE specific
.directory

# Misc
.generated_files/
.svn
*.bak
*.doc
*.docx
**/.mchp_private/
**/documentation/
*.bat


